:root {
    --fs-primary: 14px;
    --ff-fraunces:'Fraunces', serif;
    --ff-montserrat:'Montserrat', sans-serif;

    --clr-dark-cyan: hsl(158, 36%, 37%);
    --clr-cream: hsl(30, 38%, 92%);
    --clr-vry-dark-blue: hsl(212, 21%, 14%);
    --clr-dark-gray-blue: hsl(228, 12%, 48%);
    --clr-white: hsl(0, 0%, 100%);
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--clr-cream);
}

.container{
    max-width: 50%;
    display: grid;
    grid-template-columns: 6fr 6fr;
    background-color: var(--clr-white);
    border-radius: 10px;
}

img{
    max-width: 25vw;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content{
    max-width: 25vw;
    padding: 2rem;
    margin: auto;
    height: 100%;
    position:relative;
    top: .5rem;
}

.heading{
    font-size: .8rem;
    font-family: var(--ff-montserrat);
    letter-spacing: .5rem;
    text-transform: uppercase;
    color: var(--clr-dark-gray-blue);
    font-weight: 500;
    position: relative;
    bottom: 1rem;
}

h1{
    font-family: var(--ff-fraunces);
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 2.5rem;
}

.product-description{
    font-size: 1rem;
    font-family: var(--ff-montserrat);
    color: var(--clr-dark-gray-blue);
    line-height: 1.5;
    margin: 1rem 0rem 1.5rem 0rem;
}

.price{
    font-family: var(--ff-fraunces);
    font-size: 2.5rem;
    color: var(--clr-dark-cyan);
    margin: 0rem;
}

.discounted{
    display: inline-block;
    font-family: var(--ff-montserrat);
    font-size: 1rem;
    font-weight: ;
    color: var(--clr-dark-gray-blue);
    text-decoration: line-through;
    position: relative;
    bottom: .6rem;
    left: .8rem;
}

button{
    display: block;
    font-family: var(--ff-montserrat);
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 1rem 4rem;
    margin: 1.6rem 0rem 0rem 0rem;
    background-color: var(--clr-dark-cyan);
    color: var(--clr-white);
    min-width: 100%;
}

button:hover{
    cursor: pointer;
}

button:active{
    background-color: hsl(158, 36%, 22%);
}

.cart-icon{
    margin-right: .5rem;
    height: 1.3rem;
    position: relative;
    top: .25rem;
}

